# PostgreSQL credentials
POSTGRES_HOST=localhost
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpassword
POSTGRES_DB=pgappdb

# pgAdmin credentials
PGADMIN_DEFAULT_EMAIL=your-email@example.com
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password

# JWT Configuration
JWT_SECRET_KEY=yoursecretkey
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=168h
MAX_SESSION_DURATION=720h
